body {
  background-image: url(../images/crystal-cave-wallpaper-wallpaper-2.jpg);
  color: white;
  font-family: 'Charm', cursive;
}

header , section , footer {
  background-color: rgba(0,0,0,0.5)
}

.power{
  font-size: 2em;
}

#crystals {
  display: flex;
}

.crystal-button>img {
  width: 150px;
  height: 150px;
  padding: 5px;
  margin: 10px;
  border: 1px solid white;
  display: inline-block;
}

#headline {
  font-family: 'UnifrakturMaguntia', cursive;
}